* {
    border-radius: 4px;
    font-family: sans-serif, "Times New Roman", serif;
    box-sizing: border-box;
}

ul {
    padding: 0px;
}

body {
  background: hsl(210deg, 30%, 12%);
  color: hsl(0deg 0% 100%);
}

.header {
    height: 140px;

    background-color: plum;
    border: 4px solid indigo;

    display: flex;

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    gap: 8px;
}

.item {
    display: flex;
    height: 60px;
    width: 60px;

    flex-basis: 60px;

    border: 4px solid darkslategray;
    background-color: skyblue;

    align-items: center;
    justify-content: center;
}
.item a {
    color: magenta;
    list-style-type: none;
    text-decoration: none;
}

.content {
    min-height: 80vh;
    display: flex;
    
    background: rgb(28, 59, 65);
    margin: 8px 0px;
}

.sidebar {
    max-width: 200px;
    min-height: 80vh;
    flex-grow: 1;
    order: -1;
    
    border: 4px solid indigo;
    background: peachpuff;

    align-self: flex-start;
    display: flex;
    flex-direction: row;
}
.first, .second{
    flex: 1;
    margin: 8px;
    display: flex;
    border: 2px solid black;
    background-color:darkseagreen;
    justify-content: flex-start;
    flex-direction: column;
    gap: 32px;
}
.second {
    justify-content: center;
}
.blob {
    height: 240px;
    width: 240px;
    margin-top: 36px;
    align-self: center;
}
.first .blob {
    border: 8px solid burlywood;
    background-color: green;
}
.second .blob {

    border: 8px solid burlywood;
    background-color: aqua;
}


.footer {
    height:60px;

    border: 4px solid black;
    background-color:indianred ;

    display: flex;
    justify-content: center;
}